@import "reset.css";

.container {
  position: relative;
}
h2 {
  text-align: center;
  line-height: 50px;
  height: 50px;
  font-size: 30px;
  background-color: orange;
}
.wraper {
  height: 500px;
}
.wraper1 {
  background-color: black;
}
.wraper2 {
  position: relative;
}
.wraper3 {
  background-color: black;
  position: relative;
}
.wraper4 {
}
.box {
  width: 300px;
  height: 200px;
  padding: 20px;
  box-sizing: border-box;
  /* margin-top: 10px; */
}
.box1 {
  margin: auto;
  background-color: powderblue;
}
.box2 {
  background-color: green;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -100px;
}
.box3 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: yellowgreen;
}
.wraper4 {
  margin-top: 10px;
  height: 500px;
  display: flex;
  background-color: aliceblue;
  justify-content: center;
  align-items: center;
}
.flexBox {
  box-sizing: border-box;
  padding: 20px;
  width: 300px;
  height: 200px;
  background-color: skyblue;
}

/* span 중앙정렬 */

.text1 {
  line-height: 20px;
  font-size: 14px;
}
.spanContainer span.text1 {
  display: inline-block;
  width: 200px;
  text-align: center;
  background: beige;
}
.spanContainer div {
  width: 300px;
  height: 300px;
  background-color: blanchedalmond;
  position: relative;
  border: 1px solid black;
  text-align: center;
}
.spanContainer label {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.spanContainer div span {
  text-align: center;
  vertical-align: middle;
  line-height: 300px;
}


/* 모션 차이 test */

/* .motionContainer{
    position: relative;
    height: 500px;
}

.motionBox1{
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -100px 0 0 -100px;
    width: 200px;
    height: 200px;
    background-color: antiquewhite;
    transition: all 1s ease ;
}
.motionBox1:hover{
    width: 300px;
    height: 300px;
}
.motionBox2{
    transform: translate();
}
.motionBox2:hover{
    width: 300px;
    height: 300px;
} */

.motionbox1 {
    width: 100px;
    height: 100px;
    background-color: red;
    position: absolute;
    left: 0;
    top: 0;
    transition: all 1s ease;
}

.motionbox1:hover {
    top: 50px;
    left: 50px;
}

.motionbox2 {
    width: 100px;
    height: 100px;
    background-color: red;
    transition:all 1s;
}

.motionbox2:hover {
    transform: translate(50px, 50px);
}